/res
/debug
/release
.project
.cproject
Makefile
Makefile.Debug
Makefile.Release
/jingles-qt.pro.user
/jingles-qt-tests.pro.user
/filestoload.txt~
/filestoload (copy).txt
/jingles-qt.exe
/jingles-qt.pro.user.*
